.home-image {
    background-image: url("../bg-image-new.png");
    background-size: cover;
    color: white;
    padding: 4em;
    text-align: center;

    .home-image-header {
        font-size: 4em;
        line-height: 1em;
        color: #fe5000;
    }

    .home-image-p {
        font-size: 1.8em;
    }

    .home-links-card {
        margin-left: 17%;
        margin-right: 17%;
        margin-top: 7%;
        width: 66%;       
        border: 4px solid #fe5000;
        border-radius: 1em;
        text-align: center;
        color: white;
        background-color: #222222;
    }
    
}

