.App {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1024px;
  height: 100%;
  background: white;
}

.Footer {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  border-top: 2px solid #fe5000;
}
