.App {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1024px;
  height: 100%;
  background: white;

  .navbar {
    font-size: 1.6em;
    justify-content: center;
    text-decoration: none;
    padding: 0.6em;
    background-color: #222222;
  }

  .navbar-brand {
    font-size: 55px;
    margin-top: -0.1em;
  }
}

.Footer {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  border-top: 2px solid #fe5000;
  background-color: #222222;
  color: white;
}
